# Python dependencies for License Reminder Tool Vercel deployment
# Only includes dependencies needed for Flask web app (api/index.py)
# Excludes pandas, openpyxl, schedule which are only used by CLI tools
python-dotenv>=1.0.0
flask>=2.3.0
oracledb>=3.0.0
